@model Blog.Models.Article
@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="well">
        <h2>Create Article</h2>
        <form asp-action="Create" class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label col-sm-4"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublicationType" class="control-label col-sm-4"></label>                
                <select asp-for="PublicationType" class="form-control">
                    <option value="Original Research" class="form-control">Original Research</option>
                    <option value="Revew Article" class="form-control">Revew Article</option>
                    <option value="Science Case" class="form-control">Science Case</option>
                    <option value="Science Trail" class="form-control">Science Trail</option>
                    <option value="Book Review" class="form-control">Book Review</option>
                    <option value="Perspective, Opinion, Commentary" class="form-control">Perspective, Opinion, Commentary</option>
                </select>  
                <span asp-validation-for="PublicationType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KeyWords" class="control-label col-sm-4"></label>
                <input asp-for="KeyWords" class="form-control" />
                <span asp-validation-for="KeyWords" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label col-sm-4"></label>
                <textarea asp-for="Content" class="form-control" rows="7"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-4">
                    <a asp-action="Index" class="btn btn-default">Cancel</a>
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            </div>
        </form>
    </div>
</div>
